/*
Dracula theme: https://github.com/dracula/dracula-theme
Background   #282a36
Current Line #44475a
Selection    #44475a
Foreground   #f8f8f2
Comment      #6272a4
Cyan         #8be9fd
Green        #50fa7b
Orange       #ffb86c
Pink         #ff79c6
Purple       #bd93f9
Red          #ff5555
Yellow       #f1fa8c
*/

/* Skeleton */

body {
    background-color: #282a36;
    /*margin: 1em;*/
}

header {
    box-sizing: border-box;
    height: 7vh;
    padding: 10px 20px;
    background-color: #44475a;
    border-bottom: solid 1px #ffb86c;
}

footer {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    height: 5vh;
    padding: 10px 20px;
    width: 100%;
    background-color: #44475a;
    border-top: solid 1px #ffb86c;
    text-align: center;
}

div.container {
    box-sizing: border-box;
    width: 100%;
    height: 88vh;
    padding: 20px;
}

div#sidebar {
    box-sizing: border-box;
    border: solid 1px #ffb86c;
    background-color: #44475a;
    padding: 15px;
    height: 100%;
}

/* Base elements */

h3 {
    color: #ffb86c;
    font-size: 2em;
    margin-bottom: 0;
}

h4 {
    color: #ffb86c;
    font-size: 1.5em;
    margin-bottom: 0;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
    margin: 0 1em;
    color: #f8f8f2;
}

svg {
    margin: 0;
    padding: 0;
}

button {
    color: #282a36;
    background-color: #6272a4;
    border-color: #44475a;
}

button:hover {
    background-color: #ffb86c;
}

/* text-area */

textarea#glyphus-input {
    box-sizing: border-box;
    width: 100%;
    height: 6em;
    margin: 0 auto;
    padding: 10px;
    font-size: 1.5em;
    border: solid 1px #ffb86c;
    border-radius: 0;
    background-color: #44475a;
    color: #f8f8f2;
}

/* glyphus area */

div#glyphus-area {
    box-sizing: border-box;
    width: 100%;
    height: 8em;
    resize: both;
    margin: 20px auto;
    padding: 10px;
    border: solid 1px #ffb86c;
    background-color: #44475a;
}

span.callback-text {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    font-size: 2em;
    color: #ff79c6;
}

svg.glyph {
    vertical-align: middle;
    height: 2em;
    cursor: pointer;
    stroke: #f8f8f2;
    stroke-width: 0.4;
    stroke-linecap: round;
}

svg.glyph:hover {
    stroke: #ffb86c;
}

path.glyph-dot {
}

path.glyph-dot-alone {
    stroke-width: 0.8;
    stroke-linecap: square;
}

path.glyph-dot-extremity {
    stroke-width: 0.8;
    stroke-linecap: round;
}

path.glyph-dot-inline {
    display: none;
}

path.glyph-dot-intersection {
    display: none;
}

/* buttons bar */

div#buttons-bar {
    margin: 20px auto 0 auto;
}

p#button-feedback-text {
    color: #ffb86c;
}

/***********************
 *** Sidebar content ***
 **********************/

/* stroke-width unit is the space between two nearby dots. */

path.grid {
    stroke: #6272a4;
    stroke-width: 0.1;
}

path.table {
    stroke: #282a36;
    stroke-width: 0.1;
}

/* sidebar-plane is a non-displayed element used to define the size of the geometric plane in sidebar svg images. */
svg#sidebar-plane {
    height: 4em;
}

svg.sidebar-figure {
    stroke-width: 0.1;
    stroke: #ff79c6;
    margin-bottom: 15px;
}

svg.sidebar-figure g.background-segments {
    stroke: #6272a4;
}

svg.sidebar-figure path.glyph-dot {
    display: inline;
    stroke-width: 0.3;
    stroke: #f8f8f2;
}

svg.sidebar-figure:hover {
    cursor: default;
    stroke: #ff79c6;
}

svg.sidebar-figure text {
    font-size: 0.07em;
    text-anchor: middle;
    stroke: none;
    fill: #6272a4;
}

svg.sidebar-figure text.label-letters {
    fill: #f8f8f2;
    font-size: 0.08em;
}

svg.sidebar-figure.sidebar-mst {
    transform: scale(0.75);
    margin-right: -2.5%;
    margin-bottom: -2.5%;
}

/* header content */

header img {
    float: left;
    height: 5vh;
    margin-right: 20px;
}

header h1 {
    color: #ffb86c;
    font-size: 2.5em;
}

@media screen and (max-width: 640px) {
    header h1 {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 400px) {
    header h1 {
        font-size: 1em;
    }
}

/* footer content */

footer a {
    text-decoration: none;
    color: #ffb86c;
}

footer a img {
    height: 3vh;
    margin: 0 0.5em;
}

footer a:hover {
    color: #6272a4;
}
